@model QuickFixers.Data.Models.Clients

@{
    ViewBag.Title = "Client Welcome Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Test Customer Welcome Page!</h2>

<a href="##" onClick="history.go(-1); return false;">Go back to Previous Page</a>

