
@{
    ViewBag.Title = "ScheduledServices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ScheduledServices Test</h2>

<a href="##" onClick="history.go(-1); return false;">Go back to Previous Page</a>

