@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    QuickFixers<br />
    The Web, In 010101-0101<br />
    <abbr title="Phone">P:</abbr>
    010.010.0100
</address>

<address>
    <strong>Admins:</strong>
    <a href="">jody@quickfixers.com</a><br />
    <a href="">bruno@quickfixers.com</a><br />
    <a href="">matthew@quickfixers.com</a><br />
</address>