<h2>You are logged in!</h2>

@*Main View Page, we'd use a ViewModelObject or a Data.Model in QuickFixers.Models to populate data.
We'd still need a reference to the nav bar too.*@ 
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}